APP_NAME="Listplace"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost
APP_TIMEZONE=Africa/Addis_Ababa

LOG_CHANNEL=daily
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
#DB_DATABASE=listplace_demo
DB_DATABASE=listplace
DB_USERNAME=root
DB_PASSWORD=

BROADCAST_DRIVER=pusher
CACHE_DRIVER=file
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database
SESSION_DRIVER=file
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=3402c7de5f29ac
MAIL_PASSWORD="asdf"
MAIL_FROM_ADDRESS=support@example.com
MAIL_FROM_NAME="${APP_NAME}"

MAILGUN_DOMAIN=.mailgun.org
MAILGUN_SECRET=--976c175d
POSTMARK_TOKEN=36d03ddf--470
MAIL_ENCRYPTION="34sf34234"
MAILERSEND_API_KEY=-fedd-470d-9cf7
SENDINBLUE_API_KEY=xkeysib--8uiwBMUx9NlpGjzh
SENDGRID_API_KEY=SG.uda5FaYHTsMKpSViF3Q.
MAILCHIMP_API_KEY=7R0u6Vm63hwJceq783x6pVAZ7OUBM

FILESYSTEM_DRIVER="local"

AWS_ACCESS_KEY_ID=xys6
AWS_SECRET_ACCESS_KEY=xys
AWS_DEFAULT_REGION=xys5
AWS_SESSION_TOKEN=36d03ddf-fedd-470
AWS_BUCKET=xys6
AWS_USE_PATH_STYLE_ENDPOINT=false

SFTP_USERNAME=xys6
SFTP_PASSWORD=xys

DIGITALOCEAN_SPACES_KEY=hj
DIGITALOCEAN_SPACES_SECRET=vh
DIGITALOCEAN_SPACES_ENDPOINT=jk
DIGITALOCEAN_SPACES_REGION=sfo2
DIGITALOCEAN_SPACES_BUCKET=assets-coral
DIGITALOCEAN_ASSETS_URL="https://assets-coral.sfo2.digitaloceanspaces.com"
DIGITALOCEAN_DIRECTORY="https://getvibecheck.sfo2.digitaloceanspaces.com"

FTP_HOST=xys6
FTP_USERNAME=xys
FTP_PASSWORD=xys6

PUSHER_APP_ID=1622589
PUSHER_APP_KEY=97dcebcc1d51f4d68234
PUSHER_APP_SECRET=5e0d1b5345f115e27735
PUSHER_HOST=
PUSHER_PORT=443
PUSHER_SCHEME=https
PUSHER_APP_CLUSTER=ap2

VITE_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
VITE_PUSHER_HOST="${PUSHER_HOST}"
VITE_PUSHER_PORT="${PUSHER_PORT}"
VITE_PUSHER_SCHEME="${PUSHER_SCHEME}"
VITE_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

FIREBASE_SERVER_KEY=AAAA_erMYtLKgWWcr
FIREBASE_VAPID_KEY=BHvxHfvJPNZrt_NEmK_uPzf6z2EOZHkCatpUy7k5Met4iFSD78dLG1lk
FIREBASE_API_KEY=AIzaSyCYv0Nbhnqg66rI
FIREBASE_AUTH_DOMAIN=bugfinderadmin.firebaseapp.com
FIREBASE_PROJECT_ID=bugfinderadmin
FIREBASE_STORAGE_BUCKET=bugfindercom
FIREBASE_MESSAGING_SENDER_ID=1090565989163
FIREBASE_API_ID=1:1090565989163:web:051e1d575de5ac83d6db6e
FIREBASE_MEASUREMENT_ID=G-K3DPMXF3MN
USER_FOREGROUND=0
USER_BACKGROUND=0
ADMIN_FOREGROUND=0
ADMIN_BACKGROUND=0

SMS_METHOD=twilio

TWILIO_ACCOUNT_SID=A33d482c8bb4efa721ce
TWILIO_AUTH_TOKEN=0719bea20537d3e312018b9a86
TWILIO_PHONE_NUMBER=+17072840as

INFOBIP_API_KEY=5c41d10e241d949d8b60d0-8304fbfb-8a12-4ae9-ab14-c07f8cf59316
INFOBIP_URL_BASE_PATH=https:\/\/2k5zpz.api.infobip.com

PLIVO_ID=655
PLIVO_AUTH_ID=565857
PLIVO_AUTH_TOKEN=abc5dsf5ds

VONAGE_API_KEY=8a334738
VONAGE_API_SECRET=qkiL3qISMfopN4z0

TRANSLATE_METHOD=azure

END_POINT_URL=https://bugfinder-admin-trveservices.azure.com/
SUBSCRIPTION_KEY=b36a4781892a717e
SUBSCRIPTION_REGION=southeastasia
PROJECT_ID=main-10

GOOGLE_RECAPTCHA_SITE_KEY=6LfEXcw7K97jDzCnlgyBmKz
GOOGLE_RECAPTCHA_SECRET_KEY=6LfEXgEmAh7HJrmbbcpNvf9blkT
GOOGLE_RECAPTCHA_SITE_VERIFY_URL=https://www.google.com/recaptcha/api/siteverify

GOOGLE_CLIENT_ID=test
GOOGLE_CLIENT_SECRET=test
GOOGLE_REDIRECT_URL=http://localhost/listPlaceWithoutAPI/auth/callback/google

FACEBOOK_CLIENT_ID=test
FACEBOOK_CLIENT_SECRET=test
FACEBOOK_REDIRECT_URL=http://localhost/listPlaceWithoutAPI/auth/callback/facebook

GITHUB_CLIENT_ID=Ov23liB2QcT3lhT3d1od
GITHUB_CLIENT_SECRET=df976e1a7c1e9ea2be420e4b550
GITHUB_REDIRECT_URL=http://localhost/listPlaceWithoutAPI/auth/callback/github
